<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AccountInfoMapper">
    <resultMap id="BaseResultMap"  type="AccountInfo" >
        <id column = "id"  property = "id"  jdbcType = "DECIMAL"/>
        <result column = "userid" property = "userId" jdbcType = "VARCHAR"/>
        <result column = "nickname" property = "nickname" jdbcType = "VARCHAR"/>
        <result column = "unreadmsg" property = "unreadMsg" jdbcType = "DECIMAL"/>
        <result column = "loc_id" property = "locId" jdbcType = "VARCHAR"/>
        <result column = "wrongtimes" property = "wrongTimes" jdbcType = "DECIMAL"/>
        <result column = "userpwd" property = "userPwd" jdbcType = "VARCHAR"/>
        <result column = "userstatus" property = "userStatus" jdbcType = "VARCHAR"/>
        <result column = "default_loc" property = "defaultLoc" jdbcType = "VARCHAR"/>
        <result column = "createtime" property = "createTime" jdbcType = "TIMESTAMP"/>
        <result column = "jfen" property = "jfen" jdbcType = "DECIMAL"/>
    </resultMap>

   <!-- <insert id="createBusinessLog" keyProperty="id"  useGeneratedKeys="true" parameterType="BusinessLogParam">
        INSERT INTO business_operation_log(
          ip,computer_name,operator_id,operator,operate_time,interface_path,
          business_no,module_no,module_name,module_desc,result,status,status_desc
        ) VALUES(
          #{ip,jdbcType=VARCHAR},
          #{computerName,jdbcType=VARCHAR},
          #{operatorId,jdbcType=VARCHAR},
          #{operator,jdbcType=VARCHAR},
          now(),
          #{interfacePath,jdbcType=VARCHAR},
          #{businessNo,jdbcType=VARCHAR},
          #{moduleNo,jdbcType=VARCHAR},
          #{moduleName,jdbcType=VARCHAR},
          #{moduleDesc,jdbcType=VARCHAR},
          #{result,jdbcType=VARCHAR},
          #{status,jdbcType=VARCHAR},
          #{statusDesc,jdbcType=INTEGER}
        )
     </insert>-->

    <select id="queryOneAccountInfo" parameterType="String" resultType="AccountInfo">
      SELECT
        userid,userpwd,nickname,loc_id,unreadmsg ,wrongtimes,userstatus,default_loc,jfen,createtime
      FROM accountinfo
      WHERE userid = #{userId}
   </select>
   <insert id="createAccount" parameterType="AccountInfo">
       INSERT INTO accountinfo(userid,userpwd,nickname,loc_id,unreadmsg ,wrongtimes,userstatus,default_loc,jfen,createtime)
       VALUES(
           #{userId,jdbcType=VARCHAR},
          #{userPwd,jdbcType=VARCHAR},
          #{nickname,jdbcType=VARCHAR},
          #{locId,jdbcType=VARCHAR},
          #{unreadMsg,jdbcType=INTEGER},
          #{wrongTimes,jdbcType=INTEGER},
          #{userStatus,jdbcType=VARCHAR},
          #{defaultLoc,jdbcType=VARCHAR},
          #{jfen,jdbcType=INTEGER},
                now()
       )

   </insert>

    <update id="updateInfo" parameterType="AccountInfo">
        UPDATE accountinfo
        <set>
            userid = #{userId,jdbcType=VARCHAR}
            <if test="userPwd != null">
                ,userpwd =  #{userPwd,jdbcType=VARCHAR}
            </if>
            <if test="nickname != null">
                , nickname = #{nickname,jdbcType=VARCHAR}
            </if>
            <if test="locId != null">
                ,loc_id  =  #{locId,jdbcType=VARCHAR}
            </if>
            <if test="unreadMsg != null">
                ,unreadmsg = #{unreadMsg,jdbcType=INTEGER}
            </if>
            <if test="wrongTimes != null">
                ,wrongtimes = #{wrongTimes,jdbcType=INTEGER}
            </if>
            <if test="userStatus != null">
                ,userstatus = #{userStatus,jdbcType=VARCHAR}
            </if>
            <if test="defaultLoc != null">
                ,default_loc = #{defaultLoc,jdbcType=VARCHAR}
            </if>
            <if test="jfen != null">
                ,jfen =  #{jfen,jdbcType=INTEGER}
            </if>
        </set>
        WHERE
        userid = #{userId,jdbcType=VARCHAR}
    </update>

   <select id="userIdIsExsit" parameterType="String" resultType="INTEGER">
       SELECT count(1)
       FROM accountinfo
       WHERE userid = #{userId}
   </select>
</mapper>