<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SearchConditionMapper">
    <resultMap id="BaseResultMap"  type="SearchCondition" >
        <id column = "id"  property = "id"  jdbcType = "DECIMAL"/>
        <result column = "username" property = "username" jdbcType = "VARCHAR"/>
        <result column = "lat" property = "lat" jdbcType = "VARCHAR"/>
        <result column = "lng" property = "lng" jdbcType = "VARCHAR"/>
        <result column = "created_date" property = "createdDate" jdbcType = "DATE"/>
        <result column = "search_condition" property = "condition" jdbcType = "VARCHAR"/>
        <result column = "param" property = "param" jdbcType = "VARCHAR"/>
        <result column = "from_cache" property = "isFromCache" jdbcType = "VARCHAR"/>
    </resultMap>


    <insert id="insertInfo" parameterType="SearchCondition">
        INSERT INTO search_record (username,lat,lng,created_date,search_condition,param,from_cache)
        VALUES (
        #{username,jdbcType=VARCHAR},
        #{lat,jdbcType=VARCHAR},
        #{lng,jdbcType=VARCHAR},
        now(),
        #{condition,jdbcType=VARCHAR},
        #{param,jdbcType=VARCHAR},
        #{isFromCache,jdbcType=VARCHAR}
        )
    </insert>


</mapper>