<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SearchLocMapper">
    <resultMap id="BaseResultMap"  type="ClassInfo" >
        <id column = "id"  property = "id"  jdbcType = "DECIMAL"/>
        <result column = "CLASSROOM_CUR_MAN" property = "classroom_cur_man" jdbcType = "DECIMAL"/>
        <result column = "CLASSROOM_MAX_MAN" property = "classroom_max_man" jdbcType = "DECIMAL"/>
        <result column = "CLASSROOM_NAME" property = "classroom_name" jdbcType = "VARCHAR"/>
        <result column = "LOC_ID" property = "loc_id" jdbcType = "DECIMAL"/>
        <result column = "CURR_STATUS" property = "curr_status" jdbcType = "VARCHAR"/>
        <result column = "CURR_STATUS_CODE" property = "curr_status_code" jdbcType = "DECIMAL"/>
        <result column = "CLASSROOM_TYPE" property = "classroom_type" jdbcType = "VARCHAR"/>
        <result column = "CLASS1" property = "class1" jdbcType = "DECIMAL"/>
        <result column = "CLASS2" property = "class2" jdbcType = "DECIMAL"/>
        <result column = "CLASS3" property = "class3" jdbcType = "DECIMAL"/>
        <result column = "CLASS4" property = "class4" jdbcType = "DECIMAL"/>
        <result column = "CLASS5" property = "class5" jdbcType = "DECIMAL"/>
        <result column = "CLASS6" property = "class6" jdbcType = "DECIMAL"/>
        <result column = "CLASS7" property = "class7" jdbcType = "DECIMAL"/>
        <result column = "CLASS8" property = "class8" jdbcType = "DECIMAL"/>
        <result column = "CLASS9" property = "class9" jdbcType = "DECIMAL"/>
        <result column = "CLASS10" property = "class10" jdbcType = "DECIMAL"/>
        <result column = "CLASS11" property = "class11" jdbcType = "DECIMAL"/>
        <result column = "CLASS12" property = "class12" jdbcType = "DECIMAL"/>
        <result column = "CLASS_DATE" property = "class_date" jdbcType = "DECIMAL"/>
    </resultMap>
    <!-- <insert id="createBusinessLog" keyProperty="id"  useGeneratedKeys="true" parameterType="BusinessLogParam">
         INSERT INTO business_operation_log(
           ip,computer_name,operator_id,operator,operate_time,interface_path,
           business_no,module_no,module_name,module_desc,result,status,status_desc
         ) VALUES(
           #{ip,jdbcType=VARCHAR},
           #{computerName,jdbcType=VARCHAR},
           #{operatorId,jdbcType=VARCHAR},
           #{operator,jdbcType=VARCHAR},
           now(),
           #{interfacePath,jdbcType=VARCHAR},
           #{businessNo,jdbcType=VARCHAR},
           #{moduleNo,jdbcType=VARCHAR},
           #{moduleName,jdbcType=VARCHAR},
           #{moduleDesc,jdbcType=VARCHAR},
           #{result,jdbcType=VARCHAR},
           #{status,jdbcType=VARCHAR},
           #{statusDesc,jdbcType=INTEGER}
         )
      </insert>-->
    <sql id="baseColumn">
    CLASSROOM_CUR_MAN,CLASSROOM_MAX_MAN,CLASSROOM_NAME,LOC_ID,CURR_STATUS,CURR_STATUS_CODE,CLASSROOM_TYPE,
    CLASS1,CLASS2,CLASS3,CLASS4,CLASS5,CLASS6,CLASS7,CLASS8,CLASS9,CLASS10,CLASS11,CLASS12,CLASS_DATE
    </sql>
    <select id="querylocList" resultMap="BaseResultMap" parameterType="ClassInfo">
        SELECT
        <include refid="baseColumn"/>
        FROM class_info
        WHERE (LOC_ID = 1 OR LOC_ID = 2) AND del_flag = 1
        <include refid="commonConditions"/>
        ORDER BY height
        LIMIT #{startIdx,jdbcType=DECIMAL},#{endIdx,jdbcType=DECIMAL}
    </select>
    <sql id="commonConditions">

        <if test="class_date != null">
            AND CLASS_DATE = #{class_date,jdbcType=DECIMAL}
        </if>
        <if test="class1 != null">
            AND CLASS1 = #{class1,jdbcType=DECIMAL}
        </if>
        <if test="class2 != null">
            AND CLASS2 = #{class2,jdbcType=DECIMAL}
        </if>
        <if test="class3 != null">
            AND CLASS3 = #{class3,jdbcType=DECIMAL}
        </if>
        <if test="class4 != null">
            AND CLASS4 = #{class4,jdbcType=DECIMAL}
        </if>
        <if test="class5 != null">
            AND CLASS5 = #{class5,jdbcType=DECIMAL}
        </if>
        <if test="class6 != null">
            AND CLASS6 = #{class6,jdbcType=DECIMAL}
        </if>
        <if test="class7 != null">
            AND CLASS7 = #{class7,jdbcType=DECIMAL}
        </if>
        <if test="class8 != null">
            AND CLASS8 = #{class8,jdbcType=DECIMAL}
        </if>
        <if test="class9 != null">
            AND CLASS9 = #{class9,jdbcType=DECIMAL}
        </if>
        <if test="class10 != null">
            AND CLASS10 = #{class10,jdbcType=DECIMAL}
        </if>
        <if test="class11 != null">
            AND CLASS11 = #{class11,jdbcType=DECIMAL}
        </if>
        <if test="class12 != null">
            AND CLASS12 = #{class12,jdbcType=DECIMAL}
        </if>
    </sql>
</mapper>